
RewriteEngine on
#example.com/page will display the contents of example.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from example.com/page.html to example.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
RewriteRule ^(.*)\.html$ /$1 [R=301,L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^zandscarpets\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.zandscarpets\.com$
RewriteRule ^/?$ "https\:\/\/zandscarpets\.com\/" [R=301,L]
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^zandsartificialgrass\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.zandsartificialgrass\.com$
RewriteRule ^/?$ "https\:\/\/zandsartificialgrass\.com\/" [R=301,L]

